
<h1>Account Information</h1>
<table>
	<tr class="odd">
		<td>Email</td><td><%= fields_for @user do |g| %>
			<%= g.text_field :email %>
			<% end %></td>
	</tr>
</table>

<h1>Referrer</h1>
<table>
	<tr class="">
		<td>Referrer name</td><td><%= object.select(:referrer_id, options_for_select( @referrers.collect {|g| ["#{g.first_name} #{g.last_name}", g.id]})) %></td>
	</tr>
</table>

<h1>Head Clinician</h1>
<table>
	<tr class="odd">
		<td>Clinician name</td><td><%= object.select(:clinician_id, options_for_select( @clinicians.collect {|g| ["#{g.first_name} #{g.last_name}", g.id]} )) %></td>
	</tr>
</table>

<h1>Initial Consultation</h1>
<table>
	<tr class="">
		<td>Date</td><td><%= fields_for @appointment do |g| %>
			<%= g.date_select :date_and_time %></td>
	</tr>
	<tr class="odd">
		<td>Time</td><td><%= g.time_select :date_and_time, :ignore_date => true %></td>
	</tr>
	<tr class="">
		<td>with</td><td><%= g.select(:clinician_id, options_for_select(@clinicians.collect {|h| ["#{h.first_name} #{h.last_name}", h.id]})) %></td>
	</tr>
	<% end %>
</table>

<%= f.submit "Create Case", :class => "case_button" %>
