<div class="case_index">
	
	<ul>
		
		<%= link_to new_case_path do |l| %>
		<li>
		<span class="icon">⊕</span>	
		<h1>New Case</h1>
		</li>
		<% end %>
		
		<% @cases.each do |c| %>

		<%= link_to case_path(c) do |l| %>
		<li>
			<div class="header_item">
				<%="Case #{c.id}"%>
			</div>
			<div class="left">
				<table>
					<th>Information</th>
					<tr><td>Referrer</td>
						<td><%="#{c.referrer.display_name}"%></td></tr>
					<tr><td>Email</td>
						<td><%="#{c.user.email}"%></td></tr>
					<tr><td>Clinician</td>
						<td><%="#{c.clinician.display_name}"%></td></tr>
					<tr><td>Status</td>
						<td><%="Pre-retrieval"%></td></tr>
					<tr><td>Diagnosis</td>
						<td><%="Ovulary Dysfunction"%></td></tr>
				</table>
			</div>
			
			<div class="center">
				<table>
					<th>Patients</th>
					<% i = 1 %>
					<% c.patients.each do |patient| %>
						<% if i > 4 %> 
							<tr><td>(more)</td><td></td></tr>
							<% break %>
						<% else %>
							<tr><td><%="#{patient.display_name}"%></td>
								<td>Undetermined</td></tr>
						<% end %>
						<% i = i + 1 %>
					<% end %>
				</table>
			</div>
			
			<div class="right">
				<table>
					<th>Appointments</th>
					<% i = 1 %>
					<% c.appointments.each do |appointment| %>
						<% if appointment.date_and_time.nil? || appointment.appointment_type.nil? %>
							<% next %>
						<% else %>
						<% if i > 4 %>
							<tr><td>(more)</td><td></td></tr>
							<% break %>
						<% else %>	<tr><td><%="#{appointment.appointment_type}"%></td>
							<td><%="#{appointment.display_time}"%></td></tr>
						<% end %>
						<% i = i + 1 %>
						<% end %>
					<% end %>
				</table>
			</div>
			
		</li>
		<% end %> <%# link_to%>

		<% end %>
		<%= will_paginate @cases %>

	</ul>

</div>

<script type="text/javascript">

var default_left;
var default_right;

$(document).ready(function(){

	default_left=0;
	default_right=2;
	set_headers("Case Page","");
	set_toolbar(default_left, default_right);
	toolbar_type("");
	
	
});

$('#toolbar_toggle').click(function(){
	toolbar_toggle(default_left, default_right);	
});

$('#schedule_toggle').click(function(){
	appointment_toggle(default_left, default_right);	
});


</script>