<div class="generic_form">
<%= form_for @user do |f| %>

	<table>
	
		<tr>
			<td>Email</td><td><%= f.text_field :email %></td>
		</tr>
		<tr>
			<td>Password</td><td><%= f.password_field :password %></td>
		</tr>
		<tr>
			<td>Password confirmation</td><td><%= f.password_field :password_confirmation %></td>
		</tr>
		
	</table>

		<%= f.submit "Update user information", :class => "submit_button" %>

<% end %>
</div>




<script type="text/javascript">

var default_left;
var default_right;

$(document).ready(function(){

	default_left=0;
	default_right=2;
	set_headers("Edit Profile","");
	set_toolbar(default_left, default_right);
	toolbar_type("");
});


/**********************************************************************
Interactive left and right toolbars
**********************************************************************/
$('#toolbar_toggle').click(function(){
	toolbar_toggle(default_left, default_right);	
});
$('#schedule_toggle').click(function(){
	appointment_toggle(default_left, default_right);	
});


</script>