<div class="user_show">
	
	<div class="profile">
		<span class="icon">u</span>
		<h1>Welcome <%="#{@clinician.first_name} #{ @clinician.last_name}"%>!<h1>
		<table>	
			<tr><td>Member since</td><td><%= "    	#{@user.created_at.strftime("%B %d, %Y")}" %></td></tr>
			<tr><td>Email </td><td><%="#{@user.email}"%></td></tr>
			<tr><td>Role </td><td><%="#{@clinician.role}"%></td></tr>
		</table>	
	</div>
	
	<div class="schedule_container">
	<h1 class="schedule_header">My Appointments</h1>
	<div class="schedule">
			
	<ul>
	
	<% if @appointments.nil? %>
		You have no appointments scheduled
	<% else %>
	<% @appointments.each do |appointment| %>	
	
		<%= link_to case_appointment_path(appointment.case, appointment) do |l|%>
		<li class="list">
		
		<table>
			<div class="ah">
			<%="#{appointment.display_time}"%><br>
			<%="#{appointment.appointment_type}"%>
			</div>
		<% if appointment.clinicians.length > 1 %>
		<tr>
			<td>with</td>
			<td><ul>
				<% appointment.clinicians.each do |clinician| %>
					<% if clinician == @clinician %>
						<% next %>
					<% else %>
						<li><%= "#{clinician.display_name}"%></li>
					<% end %>
				<% end %>
			</ul></td>	
		</tr>
		<% end %>
		<tr>
			<td>Patients</td> 
			<td><ul>	
				<% appointment.patients.each do |patient| %>
					<li><%="#{patient.display_name}"%></li>
				<% end %>
			</ul></td>
		</tr>
		</table>
		</li>
		<% end %>
		
	<% end %>
	<% end %>
		
		</ul>
	</div>
	</div>

	<div class="case_container">
	<h1 class="case_header">Current Cases</h1>
	<div class="cases">
	<ul>
	
	<% if @cases.nil? %>
		There are no current cases
	
	<% else %>
	<% @cases.each do |c| %>
	
		<%= link_to case_path(c) do |l| %>

		<li class="list">
						
			<table>
				<tr>
					<td>Case</td>
					<td><%="#{c.id}"%></td>
				</tr>
				<tr>
					<td>Patient email</td>
					<td><%="#{c.user.email}"%></td>
				</tr>	
				<tr>
					<td>Referrer</td>
					<td><%="#{c.referrer.display_name}"%></td>
				</tr>
				<tr>
					<td>Patients</td>
					<td><ul>
						<% c.patients.each do |patient| %>
							<li><%="#{patient.display_name}"%></li>
						<% end %>
					<ul></td>
				</tr>
			</table>
	
	
		</li>
		<% end %>
		
	<% end %>
	<% end %>
		
		</ul>
	</div>
	</div>

	
	<div class="chat_container">
	<h1 class="chat_header">Message Board</h1>
	<div class="chat">
		
		<div class="chat_index">
		<% @posts.each do |post| %>

			<div class="post">

				<div class="picture">
					<span class="icon">u</spam>
				</div>
				<div class="container">
					<div class="clinician"><%= 				"#{post.clinician.display_name}" %></div> 
					<div class="post_time"><%="#{post.display_time}"%></div>							
					<div class="content"><%= "#{post.content}"%></div>
				</div>
			</div>

		<% end %>
		</div>

		<br>
		<br>
		<%=link_to new_clinician_post_path(current_user.clinician) do |l| %>
		
		<div class="post_link">
			Post to message board
		</div>	
		<% end %>

	</div>
	</div>
	

</div>


<script type="text/javascript">

var default_left;
var default_right;

$(document).ready(function(){

	default_left=0;
	default_right=0;
	set_headers("Home","New Appointment");
	set_toolbar(default_left, default_right);
	toolbar_type("");
});


/**********************************************************************
Interactive left and right toolbars
**********************************************************************/
$('#toolbar_toggle').click(function(){
	toolbar_toggle(default_left, default_right);	
});
$('#schedule_toggle').click(function(){
	appointment_toggle(default_left, default_right);	
});


</script>