<div class="user_show">
	
	<div class="profile">
		<span class="icon">u</span>
		<h1>Welcome <%="#{@clinician.first_name} #{ @clinician.last_name}"%>!<h1>
		<table>	
			<tr><td><pre>Member since </pre> </td><td><%= "    	#{@user.created_at.strftime("%B %d, %Y")}" %></td></tr>
			<tr><td>Email </td><td><%="#{@user.email}"%></td></tr>
			<tr><td>Role </td><td><%="#{@clinician.role}"%></td></tr>
		</table>	
	</div>
	
	<div class="schedule">
	
	<h1 class="home_header">My Appointments</h1>
		
	<ul>
	
	<% if @appointments.nil? %>
		You have no appointments scheduled
	<% else %>
	<% @appointments.each do |appointment| %>
	
		<li class="">
		
		<div>
			<h1><%="#{appointment.date_and_time.to_formatted_s(:db) }"%><h1>
			<h2><%="#{appointment.appointment_type}"%></h2>
		</div>
		<table>
		<% if appointment.clinicians.length > 1 %>
		<tr>
			<td>with</td>
			<td><ul>
				<% appointment.clinicians.each do |clinician| %>
					<% if clinician == @clinician %>
						<% next %>
					<% else %>
						<li><%= "#{clinician.display_name}"%></li>
					<% end %>
				<% end %>
			</ul></td>	
		</tr>
		<% end %>
		<tr>
			<td>Patients</td> 
			<td><ul>	
				<% appointment.patients.each do |patient| %>
					<li><%="#{patient.display_name}"%></li>
				<% end %>
			</ul></td>
		</tr>
		</table>
		</li>
		
	<% end %>
	<% end %>
		
		</ul>
	</div>
	
	<div class="cases">
	<h1 class="home_header">Current Cases</h1>
	<ul>
	
	<% if @cases.nil? %>
		There are no current cases
	
	<% else %>
	<% @cases.each do |c| %>
	
		<%
		@referrer = Referrer.find(c.referrer_id)
		@clinician = Clinician.find(c.clinician_id)
		@patients = c.patients.all
		%>
	
		<li class="">
						
			<table>
				<tr>
					<td>Patient email</td>
					<td><%="#{c.user.email}"%></td>
				</tr>	
				<tr>
					<td>Referrer</td>
					<td><%="#{@referrer.display_name}"%></td>
				</tr>
				<tr>
					<td>Patients</td>
					<td><ul>
						<% @patients.each do |patient| %>
							<li><%="#{patient.display_name}"%></li>
						<% end %>
					<ul></td>
				</tr>
			</table>
	
	
		</li>
		
	<% end %>
	<% end %>
		
		</ul>
	</div>
	
	<div class="chat">
		<h1>Clinic Chat</h1>
		
		<table>
			<tr>
				<td><%="#{@user.email}:"%></td>
				<td>Guys, don't forget incubator #4 is broken</td>
			</tr>
			<tr>
				<td><%="#{@user.email}:"%></td>
				<td>Guys, don't forget incubator #4 is broken</td>
			</tr>
		</table>
	</div>
	
</div>


<script type="text/javascript">

var default_left;
var default_right;

$(document).ready(function(){

	default_left=0;
	default_right=0;
	set_headers("Home","New Appointment");
	set_toolbar(default_left, default_right);
	toolbar_type("");
});


/**********************************************************************
Interactive left and right toolbars
**********************************************************************/
$('#toolbar_toggle').click(function(){
	toolbar_toggle(default_left, default_right);	
});
$('#schedule_toggle').click(function(){
	appointment_toggle(default_left, default_right);	
});


</script>