<div class="nav_bar">

 <i class="icon-search"></icon>
	<ul class="nav_bar">

		<li class="nav_bar"> <%= link_to "Home |", root_path, :class => "nav_font" %></li>
		<li class="nav_bar"> <%= link_to "New Case", root_path, :class => "nav_font" %></li>
		<li class="nav_bar"> <%= link_to "Admin", root_path, :class => "nav_font" %></li>
		<li class="nav_bar"> <%= link_to "Calendar", root_path, :class => "nav_font" %></li>
		<li class="nav_bar"> <%= link_to "Case Search", root_path, :class => "nav_font" %></li>
		<li class="nav_bar"> <%= link_to "Settings", root_path, :class => "nav_font" %></li>
		<li class="nav_bar"> <%= link_to "Log Out", root_path, :class => "nav_font" %></li>
		


	</ul>

</div>