<div class="generic_form">
<%= form_for ([@case, @patient]) do |f| %>

	<table>
	
		<tr>
			<td>First Name</td><td><%= f.text_field :first_name %></td>
		</tr>
		<tr>
			<td>Last Name</td><td><%= f.password_field :last_name %></td>
		</tr>
		<tr>
			<td>Sex</td><td><%= f.radio_button :sex, 'Female' %>
			<%= label :sex_female, "Female"%>
			<%= f.radio_button :sex, "Male" %>
			<%= label :sex_male, "Male"%></td>
		</tr>
		<tr>
			<td>Date of Birth</td><td><%= f.date_select :date_of_birth %></td>
		</tr>
		
		<tr>
			<td class="label">Occupation</td><td class="value"><%= f.text_field :occupation %></td>
		</tr>
		<tr>
			<td class="label">Ethnicity</td><td class="value"><%= f.text_field :ethnicity %></td>
		</tr>
		<tr>
			<td class="label">Marital Status</td><td class="value"><%= f.text_field :marital_status %></td>
		</tr>
		
	</table>

		<%= f.submit "Update patient", :class => "submit_button" %>

<% end %>
	</div>

<script type="text/javascript">

var default_left;
var default_right;

$(document).ready(function(){

	default_left=2;
	default_right=2;
	set_headers("Edit Patient Information","Case Toolbar");
	set_toolbar(default_left, default_right);
	toolbar_type("case");
});


/**********************************************************************
Interactive left and right toolbars
**********************************************************************/
$('#toolbar_toggle').click(function(){
	toolbar_toggle(default_left, default_right);	
});
$('#schedule_toggle').click(function(){
	appointment_toggle(default_left, default_right);	
});


</script>
