<div class="history_form">


	<div id="test_print">
		TEST
	</div>
	
	<%= form_for([@case, @patient, @history]) do |f| %>
	
	
	<%#*******************************************************************
	Top navigation bar
	*********************************************************************%>
	<div class="navigation">
		<span class="icon left">←</span>
		<span class="middle"><%= f.submit :value => "Save Progress and Return to Patient Page", :id => "inline" %><span>
		<span class="icon right">→</span>				
	</div>
	
	
	<%#*******************************************************************
	Page 1: General
	*********************************************************************%>
	<div id="update_history_1" class="">
		<h2><span class="icon">✎</span>Fill out patient information</h2>
	
		<table>
			<tr class="odd"><td>Name:</td><td><%= f.text_field :name %></td></tr>
			<tr><td>Occupation:</td> <td><%= f.text_field :occupation %></td></tr>
			<tr class="odd"><td>Height:</td> <td><%= f.text_field :height_ft, :size => 1 %> ft 
						<%= f.text_field :height_in, :size => 1 %> in</td></tr>
			<tr class=""><td>Has your weight changed?
				</td> 
				<td><%= f.radio_button :weight_change, 'Yes' %>
					<%= label :weight_change_yes, "Yes"%>
					<%= f.radio_button :weight_change, "No" %>
					<%= label :weight_change_no, "No"%></td></tr>			
			<tr class="odd"><td>Weight:</td> <td><%= f.text_field :weight, :size => 1 %> lbs</td></tr>
			<tr class=""><td>What is your date of birth?</td> <td><%= f.date_select :birth_date %></td></tr>
			<tr class="odd"><td>Race:</td> <td><%= f.text_field :race %></td></tr>	
			<tr><td>Age:</td> <td><%= f.text_field :age, :size => 1 %></td></tr>
						
		</table>
	
		
	</div>
	
	<%#*******************************************************************
	Page 2: Pregnancy History
	*********************************************************************%>
	<div id="update_history_2" class="hidden">
		<h2><span class="icon">✎</span>Fill out pregnancy information</h2>
				
		
	</div>
	
	<%#*******************************************************************
	Page 3: Medical History
	*********************************************************************%>
	<div id="update_history_3" class="hidden">
		<h2><span class="icon">✎</span>Fill out medical history</h2>
		
		
		<%# Ajax tables...
			-medical conditions
			-medications
			-surgeries
			-stds
			-allergies
		%>
		
		<table>
			<tr class="odd"><td>Do you have any difficulty with erections?</td><td><%= f.radio_button :erections_difficulty, 'Yes' %><%= label :erections_difficulty_yes, "Yes"%> <%= f.radio_button :erections_difficulty, "No" %><%= label :erections_difficulty_no, "No"%></td></tr>
			
			<tr class=""><td>Have you previously had difficulty impregnating a partner?</td><td><%= f.radio_button :impregnation_difficulty, 'Yes' %><%= label :impregnation_difficulty_yes, "Yes"%> <%= f.radio_button :impregnation_difficulty, "No" %><%= label :impregnation_difficulty_no, "No"%></td></tr>
			
			<tr class="odd"><td>Have you donated sperm?</td><td><%= f.radio_button :sperm_donor, 'Yes' %><%= label :sperm_donor_yes, "Yes"%> <%= f.radio_button :sperm_donor, "No" %><%= label :sperm_donor_no, "No"%></td></tr>
			
			<tr class=""><td>Have you ever required hormone treatment(s)?</td><td><%= f.radio_button :hormone_treatments, 'Yes' %><%= label :hormone_treatments_yes, "Yes"%> <%= f.radio_button :hormone_treatments, "No" %><%= label :hormone_treatments_no, "No"%></td></tr>
			
			<tr class="odd"><td>Have you ever had a vasectomy?</td><td><%= f.radio_button :vasectomy, 'Yes' %><%= label :vasectomy_yes, "Yes"%> <%= f.radio_button :vasectomy, "No" %><%= label :vasectomy_no, "No"%></td></tr>
			
			<tr class=""><td>Have you ever had testicular surgery?</td><td><%= f.radio_button :testicles_surgery, 'Yes' %><%= label :testicles_surgery_yes, "Yes"%> <%= f.radio_button :testicles_surgery, "No" %><%= label :testicles_surgery_no, "No"%></td></tr>
			
			<tr class="odd"><td>Have you had undescended testicles?</td><td><%= f.radio_button :weight_change, 'Yes' %><%= label :weight_change_yes, "Yes"%> <%= f.radio_button :weight_change, "No" %><%= label :weight_change_no, "No"%></td></tr>
			
			<tr class=""><td>Have you had trauma to the testicles?</td><td><%= f.radio_button :testicles_trauma, 'Yes' %><%= label :testicles_trauma_yes, "Yes"%> <%= f.radio_button :testicles_trauma, "No" %><%= label :testicles_trauma_no, "No"%></td></tr>
			
			<tr class="odd"><td>Have you had painful swelling of the testicles?</td><td><%= f.radio_button :testicles_swelling, 'Yes' %><%= label :testicles_swelling_yes, "Yes"%> <%= f.radio_button :testicles_swelling, "No" %><%= label :testicles_swelling_no, "No"%></td></tr>
			
			<tr class=""><td>Have you had torsion (twisting) of the testicles?</td><td><%= f.radio_button :testicles_twist, 'Yes' %><%= label :testicles_twist_yes, "Yes"%> <%= f.radio_button :testicles_twist, "No" %><%= label :testicles_twist_no, "No"%></td></tr>
			
			<tr class=""><td>Have you ever had white blood cells in your semen?</td><td><%= f.radio_button :white_cells, 'Yes' %><%= label :white_cells_yes, "Yes"%> <%= f.radio_button :white_cells, "No" %><%= label :white_cells_no, "No"%></td></tr>
			
			<tr class=""><td>Have you ever had a prostate infection?</td><td><%= f.radio_button :prostate_infection, 'Yes' %><%= label :prostate_infection_yes, "Yes"%> <%= f.radio_button :prostate_infection, "No" %><%= label :prostate_infection_no, "No"%></td></tr>				
					
			
			
		</table>
		
		
		
	</div>
	
	<%#*******************************************************************
	Page 4: Environmental Factors
	*********************************************************************%>
	<div id="update_history_4" class="hidden">
		<h2><span class="icon">✎</span>Fill out environmental factors</h2>
		
		
		
	</div>


	<%#*******************************************************************
	Page 5: Genetic and Family History
	*********************************************************************%>
	<div id="update_history_5" class="hidden">
		<h2><span class="icon">✎</span>Fill out genetic and family history</h2>
		
		
		
	</div>	
	
	<%#*******************************************************************
	Page 6: Male Infertility Tests
	*********************************************************************%>
	<div id="update_history_6" class="hidden">
		<h2><span class="icon">✎</span>Fill out male infertility history</h2>
		
		
		
	</div>
		
	<%#*******************************************************************
	Bottom navigation bar
	*********************************************************************%>	
		
	<div class="navigation">
		<span class="icon left">←</span>
		<span class="middle"><%= f.submit :value => "Save Progress and Return to Patient Page", :id => "inline" %><span>
		<span class="icon right">→</span>				
	</div>

	<% end %>

</div>

<script type="text/javascript">
	
	var current_page = 1;
	
	$(document).ready(function(){
		toPage(1);	
	});
	
	/**********************************************************************
	Pregnancy Field Logic and Ajax
	**********************************************************************/
	/*
	
	Coming Soon
	
	*/
	
	/**********************************************************************
	toPage function: takes next page as argument and directs user there
	**********************************************************************/
	function toPage(next_page){
		
		//(1) Color tabs and display page
		//***************************************************************
		for (var i = 1; i <= 6; i++) {
			if (i == next_page) continue;
			div_string =  "div#update_history_" + i.toString(); 
			tab_string = "li#update_history_" + i.toString(); 
			$(div_string).hide();
			$(tab_string).css("background-color","#7895a3");
		}
		
		div_string =  "div#update_history_" + next_page.toString(); 
		tab_string = "li#update_history_" + next_page.toString();
		$(div_string).show();
		$(tab_string).css("background-color","#325d64");
		//***************************************************************


		//(2) Boundary arrow logic
		//***************************************************************
		if (current_page == 1) {
			$("span.left").css("visibility","visible");
		}
		if (current_page == 6) {
			$("span.right").css("visibility","visible");
		}
		if (next_page == 1){
			$("span.left").css("visibility","hidden");	
		}
		if (next_page == 6){
			$("span.right").css("visibility","hidden");	
		}
		//***************************************************************

		//(3) Reset current page
		//***************************************************************
		current_page = next_page;
		//***************************************************************

		//DB
		$("div#test_print").html(current_page.toString());

	}

	/**********************************************************************
	Page functionality using toPage function
	**********************************************************************/
	$("span.left").click(function(){
		next = current_page - 1;
		toPage(next);
	});
	$("span.right").click(function(){
		next = current_page + 1;
		toPage(next);
	});
	$("li#update_history_1").click(function(){
	 	toPage(1);
	});
	$("li#update_history_2").click(function(){
	 	toPage(2);
	});
	$("li#update_history_3").click(function(){
	 	toPage(3);
	});
	$("li#update_history_4").click(function(){
	 	toPage(4);
	});
	$("li#update_history_5").click(function(){
	 	toPage(5);
	});
	$("li#update_history_6").click(function(){
	 	toPage(6);
	});
	//**********************************************************************
	
	
	/**********************************************************************
	DB & Miscellaneous Code
	**********************************************************************
	
	for (var k = 1; k <= 9; k++) {
		tab_string = "li#update_history_"+k.toString();
		$(tab_string).click(function(){
			toPage(k);
		});
	}
	
	$("#test").change(function(){
		$("div#test_print").html(document.getElementById("test").value);
		
	});

	
	**********************************************************************/


</script>
	
	
	
	
	