<div class="appointment_form">

<%#

t.integer :case_id
t.integer :clinician_id
t.datetime :date_and_time
t.string :appointment_type
	

%>

<%= form_for [@case, @appointment] do |f| %>

<table>
		
		<tr>
			<td class="label">Clinicians</td>
			<td class="value">
				<% @clinicians.each do |clinician|%>
					<%= check_box_tag(
						"appointment[clinician_list][#{clinician.id}]",
						"1",
						@appointment.clinicians.detect{|d| d == clinician}
					)%>
					<%= "#{clinician.display_name}"%><br>
				<% end %>
			</td>
			
		</tr>
				
		<tr>
			<td class="label">Patients</td>
			<td class="value">
				<% @patients.each do |patient|%>
					<%= check_box_tag(
						"appointment[patient_list][#{patient.id}]",
						"1",
						@appointment.patients.detect{|d| d == patient}
					)%>
					<%= "#{patient.display_name}"%><br>
				<% end %>
			</td>
			
		</tr>
		
		<tr>	
			<td class="label">Date:</td>	
			<td class="value">
				<%= f.date_select :date_and_time %></td>
		</tr>
		<tr>
			<td class="label">Time:</td>
			<td class="value">
				<%= f.time_select :date_and_time, :ignore_date => true %></td>
		</tr>
	
		<tr><td class="label">Appointment Type</td> 
				<td class="value">
				<div class="fix"><%= f.radio_button :appointment_type, "Initial Consultation" %>
				<%= label :appointment_type, "Initial Consultation"%></div>
				<div class="fix"><%= f.radio_button :appointment_type, "Financial Consultation" %>
				<%= label :appointment_type, "Financial Consultation"%></div>
				<div class="fix"><%= f.radio_button :appointment_type, "Day 3 Blood Test" %>
				<%= label :appointment_type, "Day 3 Blood Test"%></div>
				<div class="fix"><%= f.radio_button :appointment_type, "Saline Sonogram" %>
				<%= label :appointment_type, "Saline Sonogram"%></div>
				<div class="fix"><%= f.radio_button :appointment_type, "HSG" %>
				<%= label :appointment_type, "HSG"%></div>
				<div class="fix"><%= f.radio_button :appointment_type, "IVF/IUI Medication Class" %>
				<%= label :appointment_type, "IVF/IUI Medication Class"%></div>
				<div class="fix"><%= f.radio_button :appointment_type, "Medication Insurance Review" %>
				<%= label :appointment_type, "Medication Insurance Review"%></div>
				<div class="fix"><%= f.radio_button :appointment_type, "Andrology" %>
				<%= label :appointment_type, "Andrology"%></div>
				<div class="fix"><%= f.radio_button :appointment_type, "Retrieval" %>
				<%= label :appointment_type, "Retrieval"%></div>
				<div class="fix"><%= f.radio_button :appointment_type, "Transfer" %>
				<%= label :appointment_type, "Transfer"%></div>
				</td></tr>
	
</table>
	
	<%= f.submit "Schedule Appointment"%>
	
	
<% end %>

</div>

<script type="text/javascript">

var default_left;
var default_right;

$(document).ready(function(){

	default_left=2;
	default_right=2;
	set_headers("New Appointment","");
	set_toolbar(default_left, default_right);
	toolbar_type("case");
});

$('#toolbar_toggle').click(function(){
	toolbar_toggle(default_left, default_right);	
});

$('#schedule_toggle').click(function(){
	appointment_toggle(default_left, default_right);	
});

</script>