<header >
	
		<% if signed_in? %>
		
<%#*************************************************************
Upper header Section: includes Transit home icon and user icon
***************************************************************%>		
		
		
			<nav class="header">
				<span class="home_icon"><%= link_to user_path(current_user) do |l| %><span class="icon">⌂</span>  <h2>Transit</h2><% end %> </span>
			
			
				
				<span class="log_out"><%= link_to '#' do |l| %><span class=""><%= "#{current_user.email}"%></span> <span class="icon">&#8595</span>  <% end %>	<span> 
				
			</nav>
				
				

			<div class="sub_header">
			</div>

					<!--			
					<% if is_controller_active?('clinicians') || is_controller_active?('referrers') 
						css_var = "selected"
						else 
						css_var = "" 
						end %>
					-->

<%#*************************************************************
Middle header Section: includes main tab toolbar
***************************************************************%>

<%#*************************************************************
Tab I: Calendar tab
***************************************************************%>
				
				<span id="calendar_tab" class="tab <%= is_state_active?('appointments','index') %> left">
				
				<ul>
				
				<li><%= link_to appointments_path do |l| %><span class="icon">⌚</span>   <span class="">Calendar</span><% end %></li>
				
				<li class="calendar_menu"><%= link_to '#' do |l| %><span>Daily</span><% end %></li>
				
				<li class="calendar_menu"><%= link_to '#' do |l| %><span>Full</span><% end %></li>
				
				<li class="calendar_menu"><%= link_to '#' do |l| %><span>Personal</span><% end %></li>
				
				<li class="calendar_menu"><%= link_to '#' do |l| %><span>Clinic</span><% end %></li>
			
				</ul>
				</span>
				
<%#*************************************************************
Tab II: Case tab
***************************************************************%>
						
				<span id="case_tab" class="tab <%= is_state_active?('cases','index') %>">
				<ul>
					
				<li><%= link_to cases_path do |l| %><span class="icon">l</span>   <span class="">Cases</span><% end %></li>
				
				<li class="case_menu"><%= link_to cases_path do |l| %><span>All cases</span><% end %></li>
				
				<li class="case_menu"><%= link_to new_case_path do |l| %><span>New case</span><% end %></li>
							
				</ul>
				</span>
				
<%#*************************************************************
Tab III: Clnic tab
***************************************************************%>				
				
				<span id="clinic_tab" class="tab <%= is_state_active?('cases','index') %> ">
				
				<ul>
				
				<li><%= link_to clinicians_path do |l| %><span class="icon">B</span>   <span class="">Clinic</span><% end %></li>
				
				<li class="clinic_menu"><%= link_to "#" do |l| %><span class="">Chat</span><% end %></li>
				
				
				</ul>
				
				</span>
	
<%#*************************************************************
Tab IV: Search tab
***************************************************************%>	
						
				<span id="search_tab" class=" tab <%= is_state_active?('cases','index') %> ">
				<ul>
				
				<li><%= link_to "#" do |l| %><span class="icon">z</span>   <span class="">Search</span><% end %></li>
				
				<li class="search_menu"><%= link_to "#" do |l| %><span>for cases</span><% end %></li>
				<li class="search_menu"><%= link_to "#" do |l| %><span>for patients</span><% end %></li>
				<li class="search_menu"><%= link_to "#" do |l| %><span>for clinicians</span><% end %></li>
			
				</ul>
				
				</span>
				
<%#*************************************************************
Sub-header Section: organized into 3 components
	-Left: navigation and toolbar toggle tools
	-Middle: Title section
	-Right: Clock and schedule toolbar toggle
***************************************************************%>
<div class="left">
	<div id= "navigation"><span class="icon">&#8592</span><span class="icon">&#927</span><span class="icon">&#8594</span></div>
	
	<div id="toolbar_toggle"> 
		<span id"toolbar_header" class="text">Toolbar</span><span id="toolbar_arrow" class="icon">&#8592&#8592</span>
	</div>	
</div>
<div class="middle">
	<span></span>
</div>
<div class="right">
	<div id= "clock"><span class="icon">⌚</span></div>
	<div id="time">
	<span> 4/26/12</span>	
	<span> 5:30pm</span>	
	</div>
	<div id="schedule_toggle"> 
		<span id"toolbar_header" class="text">Appointments</span> 
		<span id="schedule_arrow"class="icon">&#8594&#8594</span>
	</div>

<div id="debug">
</div>

		<% else %>
			<h1><%= link_to "Transit", root_path %></h1>
		<% end %>
		
</header>

<script type="text/javascript">

$('#calendar_tab').hover(function(){
	$('.calendar_menu').show(1000);
}	,function(){
	  $(".calendar_menu").hide(1000);
	});

$('#case_tab').hover(function(){
	$('.case_menu').show(1000);
}	,function(){
	  $(".case_menu").hide(1000);
	});
	
$('#clinic_tab').hover(function(){
	$('.clinic_menu').show(1000);
}	,function(){
	  $(".clinic_menu").hide(1000);
	});
	
$('#search_tab').hover(function(){
	$('.search_menu').show(1000);
}	,function(){
	  $(".search_menu").hide(1000);
	});
	
$('.log_out').hover(function(){
	$('.menu').show(1000);
}	,function(){
	  $(".menu").hide(1000);
	});


</script>