<div class="left_sidebar">
		
		<% if is_controller_active?('users') && is_action_active?('show') #This would be the home page... %>
			<ul>
				<li class="header">Today's Schedule</li>
				<li class="left_side_schedule">
					<ul>
						<li>Appointment Mockup List</li>
					</ul>
				</li>
			</ul>
		<% elsif is_controller_active?('cases') || is_controller_active?('patients') || is_controller_active?('history_males') || is_controller_active?('history_females') #The following is the left sidebar for a general case %>
			<% if ( (is_controller_active?('cases') && is_action_active?('edit')) || is_action_active?('show')) || is_controller_active?('patients') #To be shown for case=>edit, case=>show, and patients contoller %>
			<ul>
				<li class="header">Case #: <%= @case.id %></li>
				<li class="option <%= is_state_active?('cases','show') %>" ><%= link_to case_path(@case) do |f| %><span class="text">Overview</span><span class="icon">E</span><% end %></li>
				<li class="option"><%= link_to case_patients_path(@case.id) do |f| %><span class="text">Patients</span><span class="icon">u</span><% end %></li>
				<li class="option"><span class="text">Diagnosis</span><span class="icon">✎</span></li>
				<li class="option"><span class="text">Stimulation</span><span class="icon">⌚</span></li>
				<li class="option"><span class="text">Embryology</span><span class="icon">s</span></li>
				<li class="option"><span class="text">Appointments</span><span class="icon">l</span></li>
				<li class="option"><span class="text">Follow Up</span><span class="icon">✔</span></li>
			</ul>
			<% elsif (is_controller_active?('cases') && is_action_active?('index')) #What to show during the index (case search) view %>
				<h1>Case Lookup</h1>
			<% elsif is_controller_active?('cases') && (is_action_active?('new') || is_action_active?('create')) #What to show during the new case view %>
				<ul>
					<li class="header">Create a New Case</li>
					<li class="option"><%= link_to new_clinician_path do |f| %><span class="text">Add a New Clinician</span><span class="icon">u</span><% end %></li>
					<li class="option"><%= link_to new_referrer_path do |f| %><span class="text">Add a New Referrer</span><span class="icon">u</span><% end %></li>
				</ul>
			<% end %>
		<% elsif is_controller_active?('clinicians') || is_controller_active?('referrers') %>
			<ul>
				<li class="option <%= is_state_active?('clinicians','index') %>"><%= link_to clinicians_path do |f| %><span class="text">View All Clinicians</span><span class="icon">u</span><% end %></li>
				<li class="option <%= is_state_active?('clinicians','new') %>"><%= link_to new_clinician_path do |f| %><span class="text">Add a New Clinician</span><span class="icon">u</span><% end %></li>
				<li class="option <%= is_state_active?('referrers','new') %>"><%= link_to new_referrer_path do |f| %><span class="text">Add a New Referrer</span><span class="icon">u</span><% end %></li>				
			</ul>
		
		<% elsif is_controller_active?('appointments') %>
			<div class="calendar_container">	
				<div id="calendar">
				</div>
			</div>
			
			<ul>
				<li class="option <%= is_state_active?('appointments','index') %>"><%= link_to appointments_path do |f| %><span class="text">View Today's Schedule</span><span class="icon">⌚</span><% end %></li>
				<li class="option <%= is_state_active?('appointments','new') %>"><%= link_to new_appointment_path do |f| %><span class="text">New Appointment</span><span class="icon">⊕</span><% end %></li>
			</ul>
		<% end %>
		
</div>

<script type="text/javascript">

</script>