<div class="left_sidebar">

<div id="debug">
	
</div>

<%
header = ""
tabs = Array.new
icons = Array.new
links = Array.new
ids = Array.new
%>	
			
<%#*************************************************************
Case Toolbar
*************************************************************%>			
		
		<% if is_controller_active?('patients') || is_active?('cases#show') || is_active?('history_female#show') || is_active?('history_female#show') %>	
			
			<% header = "Case Toolbar"%>
			<% tabs = Array['Overview','Patients','Diagnosis','Stimulation','Embryology','Appointments','Follow Up'] %>
			<% icons = Array['E','u','✎','⌚','s','l', '✔'] %>
			<% links = Array['/cases/'+"#{@case.id}",'/cases/'+"#{@case.id}"+'/patients','#','#','#','#','#'] %>
			<% ids = Array["","","","","","","",] %>							

		<% end %>	
		
<%#*************************************************************
Clinic Toolbar
*************************************************************%>

		<% if is_controller_active?('clinicians') || is_controller_active?('referrers') %>
			
			<% header = "Clinic Toolbar"%>
			<% tabs = Array['Clinician list','New clinician','New referrer'] %>
			<% icons = Array[nil,nil,nil] %>
			<% links = Array['/clinicians','/clinicians/new','/referrers/new'] %>
			<% ids = Array[nil,nil,nil] %>
			
		<% end %>
		
		
<%#*************************************************************
Calendar Toolbar
*************************************************************%>
					
		<% if is_active?('appointments#index') %>
			<div class="appointment_matrix">
				<h1>Intelligent Scheduler</h1>
				<table>
					<tr><td id="my">My </td><td id="clinic">Clinic </td></tr>
					<tr><td id="daily">Daily</td><td id="weekly">Weekly</td></tr>
				</table>	
			</div>
			<div class="calendar_container">	
				<div id="calendar">
				</div>
			</div>
			
			<ul>
				<li class="option <%= is_state_active?('appointments','index') %>"><%= link_to appointments_path do |f| %><span class="text">View Today's Schedule</span><span class="icon">⌚</span><% end %></li>
				<li class="option <%= is_state_active?('appointments','new') %>"><%= link_to new_appointment_path do |f| %><span class="text">New Appointment</span><span class="icon">⊕</span><% end %></li>
			</ul>
		<% end %>
		


<%#*************************************************************
Female History Toolbar(s)
*************************************************************%>

<% if is_active?('history_females#new') || is_active?('history_females#edit') %>

<% header = "History Toolbar"%>
<% tabs = Array['Basic','Pregnancy History','Menstrual Cycle','Gynecologic History','Medical History',
				'Environmental Factors','Genetic/Family History','Infertility Tests','Infertility Treatments'] %>
<% icons = Array[nil,nil,nil,nil,nil,nil,nil,nil,nil] %>
<% links = Array[nil,nil,nil,nil,nil,nil,nil,nil,nil] %>
<% ids = Array["update_history_1","update_history_2","update_history_3","update_history_4","update_history_5",
				"update_history_6","update_history_7","update_history_8","update_history_9"] %>

<% end %>

<%#*************************************************************
Male History Toolbar(s)
*************************************************************%>

<% if is_active?('history_males#new') || is_active?('history_males#edit') %>

<% tabs = Array['Basic','Pregnancy History','Medical History', 'Environmental Factors','Genetic/Family History',' Male Infertility Tests'] %>
<% icons = Array[nil,nil,nil,nil,nil,nil] %>
<% links = Array[nil,nil,nil,nil,nil,nil] %>
<% ids = Array["update_history_1","update_history_2","update_history_3",
				"update_history_4","update_history_5", "update_history_6"] %>

<% end %>

<%#*************************************************************
Generates left sidebar with unordered list html
*************************************************************%>

<ul>					
	
	<% for i in 0..(tabs.length - 1) %>
	
		<% if links[i].nil? %>
		
		<li id='<%= "#{ids[i]}" %>' class="option"><span class="text"> <%="#{tabs[i]}"%></span><span class="icon"> <%="#{icons[i]}"%></span></li>
		
		<% elsif %>
	
		<li id='<%= "#{ids[i]}" %>' class="option"><a href= <%="#{links[i]}"%> ><span class="text"> <%="#{tabs[i]}"%></span><span class="icon"> <%="#{icons[i]}"%></span></a></li>
		
		<% end %>
	
	<% end %>
	

</ul>

</div>

<script type="text/javascript">


//$(document).ready(function(){

//	header = document.getElementById("toggle_header").innerHTML;
	
//	if (document.getElementById("toggle_header").change()) {
//		header = document.getElementById("toggle_header").innerHTML.toString();
//	}
	
	//header = header.toString();
	
	//document.getElementById("debug").innerHTML = document.getElementById("toggle_header").innerHTML.toString();	
	//document.getElementById("toggle_header").innerHTML;
	//document.getElementById("debug").innerHTML = x;
	
	
/*	
	if (code == 1) {
		document.getElementById("debug").innerHTML=x;
		default_left = 3;
		default_right = 0;
		toolbar_config(3,0);
	
	}
	if (x == History Toolbar) {
		document.getElementById("debug").innerHTML=x;
		
		default_left = 4;
		default_right = 0;
		toolbar_config(4,0);
		
	}
	if (x == Clinic Toolbar) {
		document.getElementById("debug").innerHTML=x;
		
		default_left = 1;
		default_right = 0;
		toolbar_config(1,0);
		
	}
	
//	toolbar_config(3,0);
	
	
});
*/



</script>