<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

			
			<% if signed_in? %>

			<div class="container_12">
			<div class="grid_12">

			<%= render 'layouts/header' %>				

			<div id="middle" class="middle_content">

					<div id="left_sidebar" class="grid_2 alpha">
						<%= render 'layouts/left_sidebar' %>
					</div>
			
					<div id="middle_content" class="grid_8 alpha omega">
						<div class="content_view">
							<% flash.each do |key, value| %>
								<div class="flash <%= key %>"><%= value %></div>
							<% end %>
			
							<%= yield %>
						</div>
					</div>
					
					<div id="right_sidebar" class="grid_2 omega">
						<%= render 'layouts/right_sidebar' %>
					</div>

			</div>		
		
				<%= render 'layouts/footer' %>

				<div class="grid_12 alpha omega">			
					<div class="debug">
						<%= debug(params) if Rails.env.development? %>	
					</div>
				</div>
			</div>
			</div>
			
			<% else %>
				<div class="content_view">
					
					<%= yield %>
					<% flash.each do |key, value| %>
						<div class="flash <%= key %>"><%= value %></div>
					<% end %>
				
					<%= render 'layouts/footer' %>

					<div class="grid_12 alpha omega">			
						<div class="debug">
							<%= debug(params) if Rails.env.development? %>	
						</div>
					</div>
				
				</div>
				
			<% end %>
			
		

<script type="text/javascript">

var default_left = 0;
var default_right = 0;

$(document).ready(function(){
/*	toolbar_config(default_left, default_right);*/
});


/**********************************************************************
toolbar_config function: takes left and right sidebar parameters to set the 
widths of the left and right toolbars, and the middle content
**********************************************************************/
function toolbar_config(left, right){
	
	//left toolbar
	for (var i = 1; i <= 12; i++) {
		if (i == left) continue;
		grid_left = "grid_" + i.toString();
		$('#left_sidebar').removeClass(grid_left);
	}
	
	if (left == 0) {
		$('#left_sidebar').hide();
	} else {
	grid_left = "grid_" + left.toString();
		$('#left_sidebar').addClass(grid_left);
	}
		
	//right toolbar
	for (var i = 1; i <= 12; i++) {
		if (i == right) continue;
		grid_right = "grid_" + i.toString();
		$('#right_sidebar').removeClass(grid_right);
	}
	
	if (right == 0) {
		$('#right_sidebar').hide();
	} else {
	grid_right = "grid_" + right.toString();
		$('#right_sidebar').addClass(grid_right);
	}
	
	//middle content
	middle = 12 - (left + right);
	//right toolbar
	for (var i = 1; i <= 12; i++) {
		if (i == middle) continue;
		grid_middle = "grid_" + i.toString();
		$('#middle_content').removeClass(grid_middle);
	}
	
	if (middle == 0) {
		$('#middle_content').hide();
	} else {
	grid_middle = "grid_" + middle.toString();
		$('#middle_content').addClass(grid_middle);
	}
	
};


</script>


</body>

</html>
