<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

			
			<% if signed_in? %>

			<div class="container_12">
			<div class="grid_12">

			<%= render 'layouts/header' %>				

			<div id="middle" class="middle_content">

					<div id="left_sidebar" class="grid_2 alpha">
						<%= render 'layouts/left_sidebar' %>
					</div>
			
					<div id="middle_content" class="grid_8 alpha omega">
						<div class="content_view">
							<% flash.each do |key, value| %>
								<div class="flash <%= key %>"><%= value %></div>
							<% end %>
			
							<%= yield %>
						</div>
					</div>
					
					<div id="right_sidebar" class="grid_2 omega">
						<%= render 'layouts/right_sidebar' %>
					</div>

			</div>		
		
				<%= render 'layouts/footer' %>

				<div class="grid_12 alpha omega">			
					<div class="debug">
						<%= debug(params) if Rails.env.development? %>	
					</div>
				</div>
			</div>
			</div>
			
			<% else %>
				<div class="content_view">
					
					<%= yield %>
					<% flash.each do |key, value| %>
						<div class="flash <%= key %>"><%= value %></div>
					<% end %>
				
					<%= render 'layouts/footer' %>

					<div class="grid_12 alpha omega">			
						<div class="debug">
							<%= debug(params) if Rails.env.development? %>	
						</div>
					</div>
				
				</div>
				
			<% end %>
			
		

<script type="text/javascript">

</script>


</body>

</html>
